* {
    text-align: center;
    font-family: "Helvetica";
  }

button {
  width:150px;
  height:100px;
  background: wheat;
  opacity: .7;
  border-radius: 10%;;
  }

.results {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

.human {
    display: flex;
    flex-direction: column;
  }

.computer {
    display: flex;
    flex-direction: column;
  }

.emoji {
    font-size: 100px;
  }